# Ignore dataset directories and files
dataset/
*.jpeg

dataset1/
*.jpeg

data0/
*.jpeg

# Ignore virtual environment
venv/
myvenv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore model files if needed
# *.pth
*.h5

